* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  /* background-color: #20094f; */
  background: linear-gradient(110deg, #0c0506b6, #090a09);
  min-height: 100vh;
}

/*
   LOGIN 
*/

.container-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card-login {
  margin: 10px;
  padding: 100px;
  border: solid rgba(0, 0, 0, 0.796);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 300px;
}

.card-image {
  box-sizing: border-box;
}
.image-poke {
  background-repeat: no-repeat;
  min-height: 500px;
  background-image: url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png);
  width: 100%;
}

/*
   LOGIN /
*/

/* .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
.search-by-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.form-search-by-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.search-field {
  display: flex;
  padding: 10px;
}

/*
cards search poke 
*/

/*
// =================================== //
Search for name 
*/
/*
Search for name // 
// =================================== //
*/

/*
// =================================== //
Search by type 
*/

.cards-design {
  text-align: center;
  color: white;
  background: linear-gradient(150deg, #e82c2cb6, #3e70ee75);
  border-radius: 20px;
  margin: 5px;
  min-height: 360px;
}
.search-field {
  padding: 10px;
  min-height: 70px;
}
.title-menu-poke {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 28px;
  width: 250px;
}

/*
  Search by type / 
  //===========================================//
*/
.btn {
  border: black solid 1px;
  border-radius: 20px;
  color: black;
  background: linear-gradient(110deg, #2fd38d, #4fbdf0);
}

/*
 Card poke
*/

.card-poke {
  border: solid 5px;
}

.menu-pokes-in-box-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  background: linear-gradient(110deg, #5096cc, #a8358b);
  max-width: 300px;
  min-height: 500px;
  padding: 10px;
  border-radius: 10px;
}
.text-center {
  text-align: center;
  color: aliceblue;
}
.name-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 8px 22px;
  font-size: 20px;
}
.label-color {
  margin-left: 8px;
}

/*
  CARDS POKEMON INFO  
*/
.cards-pokes {
  display: flex;
  background-color: #fb6c6c;
  flex-direction: column;
  border-radius: 20px;
  max-height: 450px;
}
/*
  CARD ONE  
*/
.section-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.card-one {
  border-radius: 30px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 420px;
  background-color: #fb6c6c;
}
.img-poke-encounter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.img-poke {
  width: 100%;
}

.card-body-cards {
  width: 100%;
  padding: 10px;
  background-color: cornsilk;
  border-radius: 30px;
}
.titles-cards {
  font-size: 18px;
  padding: 5px;
  font-family: sans-serif;
}

/*
  INFO POKE INDIVIDUAL 
*/
a {
  padding: 10px;
  text-decoration: none;
  color: tomato;
  font-size: 20px;
}
.links-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.margin {
  margin: 5px;
}
.card-info-habilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displ-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-poke-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 3px white;
  min-height: 200px;
}
.info-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
}
